{% extends 'layout.html' %}

{% block content %}
<div class="container border p-3">
    <div class="row row-cols-2 g-3 ">
        <div class="followings half">
            <span class="fs-5 fw-bold">Users</span>
            {% for otheruser in userlist %}
            {%if not (user.id == otheruser.id) %}
            <div class="container row justify-content-between mb-1">
                <div class="col-4">
                    <span class="fs-6">{{otheruser.name}}({{otheruser.nick}})</span>
                </div>
                <div class="col-4">
                    <input type="hidden" value="{{otheruser.id}}" class="following-user-id">
                    {% if otheruser.id in followingIdList %}
                    <button type="button" class="btn btn-sm btn-outline-secondary twit-unfollow">Unfollow</button>
                    {% else %}
                    <button type="button" class="btn btn-sm btn-outline-primary twit-follow">follow</button>
                    {% endif%}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="half">
        </div>
    </div>
</div>
{% endblock %}

    {% block script %}
    {% include 'followUnfollow.html' %}
    {% endblock %}